.backgroundImg {
  width: 100%;
  right: 0px;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;

}



.main-content {
  position: relative;
  height: 100vh;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto",
    sans-serif;
}

.navBar {
  position: relative;
  box-shadow: 0px 0px 3px 0px rgb(236, 236, 236);
  background-color: rgb(253, 253, 253);
  height: 9vh;
  width: 100%;
  top: 0;
  color: white;
  display: flex;
  display: flex;
  z-index: 50;
  align-items: center;
  justify-content: flex-start;
}

.navBar h4 {
  font-size: 20px;
}

#head-brow {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#head-content {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150vh;
  z-index: 5;
}

#contactp {
  transition: transform .7s ease-in-out;
}

#contactp:hover {
  transform: rotate(30deg);
}

#contacte {
  color: black;
  transition-duration: 0.7s;
}

#contacte:hover {
  color: rgb(53, 134, 233);
}

.chalf h4:hover {
  text-decoration: underline;
}

#contacti {
  color: black;
  transition-duration: 0.7s;

}

#main-content img {
  border-radius: 5px;
}

.step {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10vh;
}

.stepinfo {
  width: 90%;
  padding: 3px;
  background-color: #fafafaa3;
  border-radius: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.stepinfo h1 {
  font-weight: 600;
  margin-left: 5px;
  font-size: 25px;
  margin-bottom: 4px;
}

.stepinfo p {
  margin-left: 5px;
  margin-top: 2px;
  font-weight: 300
}

#contacti:hover {
  color: #C13584;
}

#contactf {
  color: black;
  transition-duration: 0.7s;
}

#contactf:hover {
  color: #4267B2;
}

#head-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: min(600px, 90vw);
}

.chalf i {
  width: 30px;
}

.primary {
  background-color: #5098e4;
  border-radius: 15px;
  padding: 9px 18px;
  border: none;
  transition-duration: 0.1s;
  outline: none;
  color: white;
}

.navBar i {
  color: black;
  font-size: 30px;
}

.chalf {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.primary:hover {
  background-color: #559eec;
}

.secondary {
  background-color: #ffffff00;
  border-radius: 15px;
  transition-duration: 0.1s;
  padding: 7px 14px;
  outline: none;
  border: solid 2px #5098e4;
  color: #5098e4;

}

.secondary:hover {
  background-color: #5098e4;
  color: white;
}

#menu {
  height: 100vh;
  width: 0px;
  top: 0;
  margin: 0;
  right: 0;
  padding: 0;
  border-radius: 20px 0px 0px 20px;
  z-index: 200;
  position: fixed;
  opacity: 0;
  display: flex;
  background-color: rgb(250, 250, 250);
}

#mshadow {
  background-color: rgba(0, 0, 0, 1);
  top: 0;
  margin: 0;
  opacity: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 180
}

.sect {
  display: flex;
  flex-direction: row;
  margin-top: 3px;
  margin-bottom: 15px;

}

#qform {
  height: auto;
  padding: 20px;
  width: 50vw;
  border-radius: 15px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 0px 3px 0px rgb(173, 173, 173);
}

.sect input,
.sect textarea {
  width: 50%;
  font-size: 15px;
  resize: none;
  transition-duration: 0.5s;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px rgb(193, 193, 193);
  outline: none;

}

.sect input::placeholder,
.sect textarea::placeholder {
  color: #7c7c7c;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.sect input:focus {
  border: solid 1px rgb(0, 0, 0);
}

#qformfn {
  margin-right: 5px;
}

#qform p {
  text-align: left;
  padding: 0;
  font-weight: 500;
  margin: 0;
  font-size: 20px;
}

#nav-icon {
  margin-left: 10px;
}

#nav-links {
  margin-right: 20px;
  margin-left: auto;
  color: rgb(78, 78, 78);
  font-weight: 500;
  display: flex;
  flex-direction: row;
}

#nav-links p:hover {
  color: black
}

#menulinks {
  margin-left: 10px;
  width: 100%;
  height: 60vh;
  display: flex;
  z-index: 280;
  flex-direction: column;
  justify-content: center;
  opacity: 0;

}

#menulinks p {
  font-size: 25px;
  color: black;
  margin: 0;
  margin-left: 30px;
  margin-bottom: 30px;
}
.quoteitem {
  display:flex;
  flex-direction:row;
  border: solid 1px black;
  padding:3px;
  width:auto;
  margin-bottom:10px;
  border-radius:5px;
}
.quoteitem div {
  margin-right:9px;
}
.quoteitem div p {
  font-size:15px;
  margin-top:5px;
  margin-bottom:3px;
}
.quoteitem div h3 {
  margin-top:0;
  margin-bottom:0;
}

#nav-links p {
  font-size: 18px;
  margin-left: 80px;


}

#menu i {
  margin: 10px;
  font-size: 30px;
}

#mbar,
#mx,
#menu,
#mshadow,
#menulinks {
  display: none;
}

#mx {
  display: none;
  position: relative;
  opacity: 0;
  z-index: 205;
  text-align: center;
  width: 30px;
  color: black;
  transition: transform .5s ease-in-out;
}

#mx:hover {
  transform: rotate(90deg);
}
.footer {
  height:18vh;  
  display:flex;
  flex-direction:row;
  background-color: rgb(55, 55, 55);
  justify-content: center;
  align-items: center;
  color:white;
  font-size:14px;
  
}

@media only screen and (max-width: 900px) {
  #nav-links {
    display: none;
  }

  .step {
    flex-direction: column;
    align-items: center !important;
    margin-bottom: 0vh;
    width:90%;
  }
  .step img {
    margin-bottom:3px;
  }

  .stepinfo {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .contacthead {
    flex-direction: column !important;
  }

  #pbinfo {
    width: 80% !important;
  }
  #pbinfo h1 {
    font-size: 30px !important;
  }
  #pbinfo p {
    font-size:20px !important;
  }
  #pbinfo button {
    font-size:15px !important;
  }

  .stepinner,
  .step img {
    width: 95% !important;
  }

  .step img {
    height: 30vh !important;
  }

  .stepinner {
    justify-content: center !important;
  }

  .missionmain h1 {
    font-size: 40px !important;
  }
  .missionmain p {
    font-size:20px !important;
  }

  #mbar {
    margin-right: 10px;
    margin-left: auto;
    display: block;
  }

  .chalf {
    display: flex;
    height: 40vh !important;
    align-items: center !important;
    width: 90%;
  }

  .headquote h1 {
    font-size: 35px !important;
  }

  .headquote p {
    font-size: 25px !important;
  }

  .chalf h4 {
    font-size: 15px !important;
  }

  .maincontent h1 {
    font-size: 45px !important;
  }

  .maincontent p {
    font-size: 25px !important;
  }

  .chalf i {
    font-size: 20px !important;
  }

  #qform {
    width: 80vw;
  }

  #qform p {
    font-size: 20px !important;
  }

  #head-content {
    height: 120vh;
  }

  .processhead h1 {
    font-size: 50px !important;
  }

  .processhead p {
    font-size: 25px !important;
  }

  #qform input[type=text] {
    font-size: 13px !important;
  }

  .chalf img {
    height: 40vh !important;
  }

}