.backgroundImg {
  width: 100%;
  height: 100vh;
  right: 0px;
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;

}



.main-content {
  position: relative;
  height: 100vh;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "DM Sans", sans-serif;
}

.navBar {
  position: relative;
  background-color: rgb(251, 251, 251);
  height: 8vh;
  width: 100%;
  top: 0;
  color: white;
  display: flex;
  display: flex;
  z-index: 50;
  align-items: center;
  justify-content: flex-start;
}

.navBar h4 {
  font-size: 20px;
}

#head-brow {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

#head-content {
  width: 100%;
  position: absolute;
  top: 0;
  text-align: center;
  color: black;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150vh;
  z-index: 5;
}

#contactp {
  transition: transform .7s ease-in-out;
}

#contactp:hover {
  transform: rotate(30deg);
}

#contacte {
  color: black;
  transition-duration: 0.7s;
}

#contacte:hover {
  color: rgb(53, 134, 233);
}
.chalf h4:hover {
  text-decoration: underline;
}
#contacti {
  color: black;
  transition-duration: 0.7s;

}
#contacti:hover {
  color:#C13584;
}
#contactf {
  color:black;
  transition-duration: 0.7s;
}
#contactf:hover {
  color:#4267B2;
}
#head-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: min(600px, 90vw);
}

.chalf i {
  width: 30px;
}

.primary {
  background-color: #79ACE1;
  border-radius: 15px;
  padding: 7px 14px;
  border: none;
  color: white;
}
.navBar i {
  color:black;
  font-size: 30px;
}
.chalf {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.secondary {
  background-color: #ffffff00;
  border-radius: 15px;
  padding: 5px 10px;
  border: solid 2px #79ACE1;
  color: #79ACE1;

}

#nav-icon {
  margin-left: 10px;
}

#nav-links {
  margin-right: 10px;
  margin-left: auto;
  color: black;
  font-weight: 700;
  display: flex;
  flex-direction: row;
}

#nav-links p {
  margin-left: 80px;
}
#mbar, #mx {
  display:none;
}
@media only screen and (max-width: 900px) {
  #nav-links {
    display:none;
  }
  #mbar {
    margin-right:10px;
    margin-left:auto;
  }
}